<app-header titulo="checkbox"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Checkbox</ion-label>
    </ion-item>

    <ion-item *ngFor="let item of data"
    (click)="onClick(item)">
      <ion-label> {{ item.name }} </ion-label>
      <ion-checkbox [color]="item.name" [(ngModel)]="item.selected" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button class="ion-padding" (click)="verData()" expand="block" >
    Ver data
  </ion-button>
</ion-content>
